{% extends 'base.html.twig' %}

{% block body %}
    <div class="overlay"><img src="{{ asset('images/loader.gif') }}"></div>
    <div id="container">
                 
        {{ form_start(form) }}
            {{ form_row(form.url) }}
        {{ form_end(form) }}


    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        body { margin: 0; padding: 0; }
        .overlay { opacity: 0.5; background: #000; height: 100%; width: 100%; position: fixed; z-index: 999; display: none; }
        .overlay img { position: absolute; top: 40%; left: 50%; margin-left: -40px; }
        #container { margin: 0 auto; margin-top: 0px; width: 900px;}
        #container label,
        #container input,
        #container button { float: left; padding: 10px; font-size: 16px; } 
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript" src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>

    <script type="text/javascript">

        $('.action').on('click', function(){
            $('.overlay').fadeIn('slow');
        });
    </script>

{% endblock %}
