{% extends 'base.html.twig' %}

{% block body %}
    <div id="report">
        [<a href="{{ path( 'home' ) }}">Try another URL</a>]
        <h1>Results</h1>
        <small> Target: {{ urlUser }} </small>
        <h2>Checking hyperlinks</h2>
        <table>
        
        	{% for link in links %}
        		<tr>
        			<td>{{ link.source|raw }}</td>
        			<td>{{ link.status|raw }}</td>
        		</tr>
        	{% endfor %}
        
        </table>

        {% if links|length == 0 %}
        	<ul>
        		<li>No hyperlinks found</li>
        	</ul>
        {% endif %}

        <h2>Checking images</h2>
        <table>
        	{% for image in images %}
        		<tr>
        			<td>{{ image.source|raw }}</td>
        			<td>{{ image.status|raw }}</td>
        		</tr>
        	{% endfor %}
        </table>

        {%if images|length == 0 %}
        	<ul>
        		<li>No images found</li>
        	</ul>
        {% endif %}

        <h3>In this page was found {{ totalLorem }} fragments of "Lorem ipsum" text</h3>


    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
